<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.viewsforum.viewsforum.Dao.AdminDao">
    <!-- 根据用户ID查询是否是系统管理员-->
    <select id="findSystemAdminByUserID" parameterType="Integer" resultType="Admin">
        select *
        from admin
        where userID=#{userID} and admin_type=0
    </select>
    <!-- 发送申请-->
    <insert id="addNewAdminApply" parameterType="AdminApply">
        insert into admin_apply(applyid, userid, topicid, apply_time)
        values (#{applyID},#{userID},#{topicID},#{applyTime})
    </insert>
    <!-- 根据用户ID与主题ID查询是否已申请主题管理员-->
    <select id="findApplyByUserIDAndTopicID" parameterType="Admin" resultType="AdminApply">
        select *
        from admin_apply
        where userid=#{userID} and topicid=#{topicID} and is_finish=0
    </select>
    <!-- 根据用户ID与主题ID查询是否是主题管理员-->
    <select id="findTopicAdminByUserIDAndTopicID" parameterType="Admin" resultType="Admin">
        select *
        from admin
        where userid=#{userID} and topicid=#{topicID}
    </select>
    <!-- 根据主题ID查询按时间顺序查询管理员申请-->
    <select id="findAllAdminApplyByTopicID" parameterType="Integer" resultType="AdminApply">
        select *
        from admin_apply
        where topicid=#{topicID} and is_finish=0
        order by apply_time
    </select>
    <!-- 根据用户ID与主题ID查询是否是主题创建者-->
    <select id="findTopicCreatorByUserIDAndTopicID" parameterType="Admin" resultType="Admin">
        select *
        from admin
        where userid=#{userID} and topicid=#{topicID} and admin_type=1
    </select>
    <!-- 根据申请ID查询申请-->
    <select id="findApplyByApplyID" parameterType="Integer" resultType="AdminApply">
        select *
        from admin_apply
        where applyid=#{applyID}
    </select>
    <!-- 根据申请ID设置申请已处理-->
    <update id="finishAdminApplyByApplyID" parameterType="Integer">
        update admin_apply
        set is_finish=1
        where applyid=#{applyID}
    </update>
    <!-- 添加管理员-->
    <insert id="addNewTopicAdmin" parameterType="Admin">
        insert into admin(adminid, userid, topicid, admin_type)
        values (#{adminID},#{userID},#{topicID},#{adminType})
    </insert>
    <!-- 根据主题ID获取管理员-->
    <select id="findAllAdminByTopicID" parameterType="Integer" resultType="Admin">
        select *
        from admin
        where topicid=#{topicID} and admin_type=2
    </select>
    <!-- 根据管理员ID查询管理员-->
    <select id="findAdminByAdminID" parameterType="Integer" resultType="Admin">
        select *
        from admin
        where adminid=#{adminID}
    </select>
    <!-- 根据管理员ID取消管理员身份-->
    <delete id="deleteAdmin" parameterType="Integer">
        delete from admin
        where adminid=#{adminID}
    </delete>
    <!-- 根据主题ID删除主题-->
    <update id="deleteTopic" parameterType="Integer">
        update topic
        set is_delete=1
        where topicid=#{topicID}
    </update>
    <!-- 根据帖子ID删除帖子-->
    <update id="deletePost" parameterType="Integer">
        update post
        set is_delete=1
        where postid=#{postID}
    </update>
    <!-- 根据评论ID删除评论-->
    <update id="deleteComment" parameterType="Integer">
        update comment
        set is_delete=1
        where commentid=#{commentID}
    </update>
    <!-- 根据回复ID删除回复-->
    <update id="deleteReview" parameterType="Integer">
        update review
        set is_delete=1
        where reviewid=#{reviewID}
    </update>
</mapper>