<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.viewsforum.viewsforum.Dao.PostDao">
    <!-- 获取主题下帖子列表-->
    <select id="getPostListByTopicID" parameterType="Integer" resultType="Post">
        select *
        from post
        where topicid=#{topicID} and is_delete=0
        order by post_time
    </select>
    <!-- 根据用户ID获取创建的帖子列表-->
    <select id="getCreatePostListByCreateID" parameterType="Integer" resultType="Post">
        select *
        from post
        where createid=#{createID}
    </select>
    <!-- 根据回复ID获取回复-->
    <select id="getReviewByReviewID" parameterType="Integer" resultType="Review">
        select *
        from review
        where reviewid=#{reviewID}
    </select>
    <!-- 根据评论ID获取评论-->
    <select id="getCommentByCommentID" parameterType="Integer" resultType="Comment">
        select *
        from comment
        where commentid=#{commentID}
    </select>
    <!-- 添加回复-->
    <insert id="addNewReview" parameterType="Review">
        insert into review(reviewid, commentid, fromid, toid, reviewedid, review_content, review_type, review_time)
        values (#{reviewID},#{commentID},#{fromID},#{toID},#{reviewedID},#{reviewContent},#{reviewType},#{reviewTime})
    </insert>
</mapper>