<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.viewsforum.viewsforum.Dao.TopicDao">
    <!-- 根据主题ID查询主题-->
    <select id="findTopicByTopicID" parameterType="Integer" resultType="Topic">
        select * from topic where topicid=#{topicID}
    </select>
    <!-- 根据主题ID获取创建者-->
    <select id="findCreatorByTopicID" parameterType="Integer" resultType="User">
        select *
        from user
        where userid in(
            select createid
            from (select createid from topic where topicid=#{topicID})
                as found
            )
    </select>
    <!-- 查询是否关注-->
    <select id="findTopicFollowByFollowerIDAndTopicID" parameterType="TopicFollow" resultType="TopicFollow">
        select *
        from topic_follow
        where followerid=#{followerID} and topicid=#{topicID}
    </select>
    <!-- 添加关注主题-->
    <insert id="followTopic" parameterType="TopicFollow">
        insert into topic_follow(topic_followid, topicid, followerid, follow_time)
        values (#{topicFollowID},#{topicID},#{followerID},#{followTime})
    </insert>
    <!-- 取消关注主题-->
    <delete id="unFollowTopic" parameterType="TopicFollow">
        delete from topic_follow
        where followerid=#{followerID} and topicid=#{topicID}
    </delete>
    <!-- 主题关注数+1-->
    <update id="addTopicFollowNum" parameterType="Integer">
        update topic
        set follow_num=follow_num+1
        where topicid=#{topicID}
    </update>
    <!-- 主题关注数-1-->
    <update id="minusTopicFollowNum" parameterType="Integer">
        update topic
        set follow_num=follow_num-1
        where topicid=#{topicID}
    </update>
    <!-- 根据用户ID获取创建的主题列表-->
    <select id="findCreateTopicListByCreateID" parameterType="Integer" resultType="Topic">
        select *
        from topic
        where createid=#{createID};
    </select>
    <!-- 根据主题ID与关键词搜索帖子-->
    <select id="findPostByTopicIDAndKeyword" resultType="Post">
        select *
        from post
        where topicid=#{topicID} and post_name like '%${keyword}%'
    </select>
    <!-- 根据关键词搜索主题-->
    <select id="findTopicByKeyword" parameterType="Integer" resultType="Topic">
        select *
        from topic
        where topic_name like '%${keyword}%'
    </select>
</mapper>